@import url(https://fonts.googleapis.com/css?family=Raleway);
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #7c8d8c;
    overflow: hidden;
}

h2 {
    color: rgb(146, 133, 133);
    font-family: "raleway", sans-serif;
    opacity: 1;
    text-align: center;
    transition: opacity .8s;
    &.hide {
        opacity: 0;
    }
}

.sand {
    background: #83745f;
    height: 30%;
    position: absolute;
    width: 100%;
    z-index: -1;
    right: 0;
    bottom: 0;
    left: 0;
}

$d: 140px;
.bb8 {
    position: absolute;
    margin-left: -$d/2;
    width: $d;
    bottom: 20%;
    left: 0;
}

.antennas {
    position: absolute;
    transition: left .6s;
    left: 22%;
    &.right {
        left: 0%;
    }
}

.antenna {
    background: #e0d2be;
    position: absolute;
    width: 2px;
    &.short {
        height: 20px;
        top: -60px;
        left: 50px;
    }
    &.long {
        border-top: 6px solid #020204;
        border-bottom: 6px solid #020204;
        height: 36px;
        top: -78px;
        left: 56px;
    }
}

.head {
    background: #e0d2be;
    border-radius: 90px 90px 14px 14px;
    -moz-border-radius: 90px 90px 14px 14px;
    -webkit-border-radius: 90px 90px 14px 14px;
    height: 56px;
    margin-left: -45px;
    overflow: hidden;
    position: absolute;
    width: 90px;
    z-index: 1;
    top: -46px;
    left: 50%;
    .stripe {
        position: absolute;
        width: 100%;
    }
    .stripe.one {
        background: #999;
        height: 6px;
        opacity: .8;
        z-index: 1;
        top: 6px;
    }
    .stripe.two {
        background: #CD7640;
        height: 4px;
        top: 17px;
    }
    .stripe.three {
        background: #999;
        height: 4px;
        opacity: .5;
        bottom: 3px;
    }
    .eyes {
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        transition: left .6s;
        left: 0%;
    }
    .eyes.right {
        left: 36%;
    }
    .eye {
        border-radius: 50%;
        display: block;
        position: absolute;
        &.one {
            background: #020204;
            border: 4px solid #e0d2be;
            height: 30px;
            width: 30px;
            top: 12px;
            left: 12%;
        }
        &.one:after {
            background: white;
            border-radius: 50%;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            width: 3px;
            top: 4px;
            right: 4px;
        }
        &.two {
            background: #e0d2be;
            border: 1px solid #020204;
            height: 16px;
            width: 16px;
            top: 30px;
            left: 40%;
            &:after {
                background: #020204;
                border-radius: 50%;
                content: "";
                display: block;
                height: 10px;
                position: absolute;
                width: 10px;
                top: 2px;
                left: 2px;
            }
        }
    }
}

.ball {
    background: #d1c3ad;
    border-radius: 50%;
    height: $d;
    overflow: hidden;
    position: relative;
    width: $d;
}

.lines {
    border: 2px solid #B19669;
    border-radius: 50%;
    height: 400px;
    opacity: .6;
    position: absolute;
    width: 400px;
    &.two {
        top: -10px;
        left: -250px;
    }
}

.ring {
    background: #CD7640;
    border-radius: 50%;
    height: 70px;
    margin-left: -35px;
    position: absolute;
    width: 70px;
    &:after {
        background: #d1c3ad;
        border-radius: 50%;
        content: "";
        display: block;
        height: 70%;
        margin-top: -35%;
        margin-left: -35%;
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
    }
    &.one {
        margin-left: -40px;
        height: 80px;
        width: 90px;
        top: 6%;
        left: 50%;
    }
    &.two {
        height: 38px;
        width: 76px;
        -ms-transform: rotate(36deg);
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
        top: 70%;
        left: 18%;
        &:after {
            top: 100%;
        }
    }
    &.three {
        height: 30px;
        -ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
        top: 66%;
        left: 90%;
        &:after {
            top: 110%;
        }
    }
}

.shadow {
    background: #3A271C;
    border-radius: 50%;
    height: $d/6;
    opacity: .7;
    position: absolute;
    width: $d;
    z-index: -1;
    left: 5px;
    bottom: -8px;
}

.shameless {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

a {
    color: #333;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

a:visited {
    color: #333;
}

a:hover,
a:focus {
    color: white;
}